body {
  position: relative;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(29, 26, 26);
}

h1 a {
  color: aliceblue;
}

.toggle li i {
  color: white;
  font-size: 25px;
}

ul {
  list-style: none;
}

.content {
  text-align: left;
  padding: 100px 20px;
  background-color: #16100c;
}

.nav li i {
  color: aliceblue;
}

h4 {
  font-size: 48px;
  margin: 3px;
  color: orangered;
}

p {
  color: white;
}

.Dev {
  font-size: 30px;
}

.icons {
  display: flex;
  font-weight: bold;
  font-size: 30px;
  margin-left: -30px;
  margin-bottom: 90px;
}

.fab {
  color: gray;
  padding: 0 8px;
  margin-top: 10px;
}

.fa-bars {
  color: gray;
  padding-right: 10px;
}

#background {
  background-image: url("Group.png");
  height: 250px;
  background-repeat: no-repeat;
  margin-left: 175px;
  position: static;
  margin-top: -190px;
}
